.form {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;

  form {
    display: grid;
    grid-gap: 1.5rem;
  }

  p {
    span {
      color: white;
      cursor: pointer;
      &:hover {
        color: #f56476;
      }
    }
  }
}
