.input {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      border-bottom: 1px solid grey;

      input {
            height: 100%;
            border: none;
            outline: none;
            appearance: none;
            border-left: 1px solid grey;
            background: none;
            padding: 0.5rem;
            color: #DFBBB1;
            border-radius: none;
      }
}