@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Montserrat";
      font-size: 16px;
}

section {
      padding: 6rem 5vw;
}

@media screen and (min-width: 1200px) {
      section {
            padding: 2rem 5vw 2rem calc(10rem + 5vw)
      }
}